opc-ha-agent.json
[{"id":"7e1dcd51.b9b5a4","type":"function","z":"fffc3340.5176a","name":"Rule","func":"// Timestamp\nvar now = new Date();\nvar timeStamp =  now.getTime();\n\nvar value = msg.payload; // ns=1;s=Temperature\n\n// Notification\nvar brokenFanCount = 0;\nvar brokenFanStr = \"\";\nvar lastReportTime = flow.get(\"lastReportTime\") || 0;\n\nif ( lastReportTime == 0 \n      || (( timeStamp / 1000 - lastReportTime ) > 20 ) // 20 secs (demo test) \n   // || (( timeStamp / 1000 - lastReportTime ) > 600 ) // 600 secs (10 mins) \n   ) {\nvar fan1Status = flow.get(\"fan1Status\") || 0;\nvar fan2Status = flow.get(\"fan2Status\") || 0;\nvar fan3Status = flow.get(\"fan3Status\") || 0;\n\n// only check fan#1 & #2. fan#3 is a backup unit\nif (!fan1Status) { brokenFanCount++; brokenFanStr += \"1 \"; }\nif (!fan2Status) { brokenFanCount++; brokenFanStr += \"2 \"; }\nif (!fan3Status) { brokenFanCount++; brokenFanStr += \"3 \"; }\n\nif ( brokenFanCount >= 2 )\n   flow.set( \"lastReportTime\", timeStamp / 1000)\n\n}\n\n// rule 1 : if temperature < 40 && > 80\nvar message =  null;\nif ( value < 50 && value > 90 ) \n  message = { payload : now.toISOString()+\" Alert !!! Temperature Failure ( \"+value+\")\" };\n// rule 2 : if two fans are out of service\nif (brokenFanCount >= 2)\n  message = { payload : now.toISOString()+\" Alert !!! Fan ( \" + brokenFanStr + \") Disabled\"}; \n\nif ( brokenFanCount >= 2 ) node.status({fill:\"red\",shape:\"ring\",text:\"fan condition: \"+brokenFanStr });\nelse node.status({fill:\"green\",shape:\"dot\",text:\"fan condition: normal\" });\n\n// 0 : grafana\n// 1 : blynk + chart\n// 2 : notify\nreturn [\n    { payload : { timestamp : timeStamp, temperature : value }}\n  , { payload : value }\n  , message\n    ];","outputs":3,"noerr":0,"x":802.5002059936523,"y":311.0000705718994,"wires":[[],["f7ee1eb1.28bd4","60938599.15cafc","2c6c408.1138ec"],["7535232d.bb651c"]]},{"id":"7535232d.bb651c","type":"blynk-ws-out-notify","z":"fffc3340.5176a","name":"","client":"aa207925.b725b8","queue":false,"rate":5,"x":990.5000267028809,"y":364.0000114440918,"wires":[]},{"id":"f7ee1eb1.28bd4","type":"blynk-ws-out-write","z":"fffc3340.5176a","name":"V0 Gauge","pin":"0","pinmode":0,"client":"aa207925.b725b8","x":997.5000305175781,"y":314.0000705718994,"wires":[]},{"id":"8711c6d1.0a3f88","type":"blynk-ws-out-write","z":"fffc3340.5176a","name":"Fan #1","pin":"1","pinmode":0,"client":"aa207925.b725b8","x":988.5003547668457,"y":466.000186920166,"wires":[]},{"id":"3f6cb594.780f1a","type":"comment","z":"fffc3340.5176a","name":"Primary Fan Unit : #1,#2","info":"","x":135.49998474121094,"y":512.0001163482666,"wires":[]},{"id":"d5150081.ec79","type":"blynk-ws-style-btn","z":"fffc3340.5176a","name":"Fan #2","pin":"2","prop":"0","onlabel":"ON","offlabel":"OFF","oncolor":"#000000","onbackcolor":"#00f900","offcolor":"#000000","offbackcolor":"#ff2600","client":"aa207925.b725b8","x":77.99999237060547,"y":610.0001602172852,"wires":[["b58f5870.31c348"]]},{"id":"4c2a5f84.614b9","type":"blynk-ws-out-write","z":"fffc3340.5176a","name":"Fan #2","pin":"2","pinmode":0,"client":"aa207925.b725b8","x":990.6671829223633,"y":597.3336563110352,"wires":[]},{"id":"60938599.15cafc","type":"ui_chart","z":"fffc3340.5176a","name":"","group":"92ed7c97.61bad","order":1,"width":"6","height":"6","label":"Temperature","chartType":"line","legend":"false","xformat":"mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1006.5002098083496,"y":273.0000476837158,"wires":[[],[]]},{"id":"4ad2604a.9a65e","type":"ui_switch","z":"fffc3340.5176a","name":"Fan #1","label":"Fan #1","group":"92ed7c97.61bad","order":3,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":555.8336334228516,"y":468.889102935791,"wires":[["f5df8944.184ad8"]]},{"id":"7b6064.e443cf9c","type":"ui_switch","z":"fffc3340.5176a","name":"Fan #2","label":"Fan #2","group":"92ed7c97.61bad","order":4,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":567.6667633056641,"y":602.3336563110352,"wires":[["b8ee98f.c4fdd68"]]},{"id":"f5df8944.184ad8","type":"function","z":"fffc3340.5176a","name":"fan1Status","func":"var currStatus = flow.get(\"fan1Status\") || 0;\nif ( currStatus == msg.payload ) return null;\n\nflow.set(\"fan1Status\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":734.7225532531738,"y":468.0001049041748,"wires":[["8711c6d1.0a3f88"]]},{"id":"b8ee98f.c4fdd68","type":"function","z":"fffc3340.5176a","name":"fan2Status","func":"var currStatus = flow.get(\"fan2Status\") ||0 ;\nif ( currStatus == msg.payload ) return null;\n\nflow.set(\"fan2Status\", msg.payload);\n\nreturn msg ;","outputs":1,"noerr":0,"x":737.3336410522461,"y":600.0002422332764,"wires":[["4c2a5f84.614b9"]]},{"id":"b0f6d31d.76c73","type":"blynk-ws-style-btn","z":"fffc3340.5176a","name":"Fan #1","pin":"1","prop":0,"onlabel":"ON","offlabel":"OFF","oncolor":"#000000","onbackcolor":"#00f900","offcolor":"#ffffff","offbackcolor":"#ff2600","client":"aa207925.b725b8","x":77.5,"y":559.0001583099365,"wires":[["b58f5870.31c348"]]},{"id":"b58f5870.31c348","type":"function","z":"fffc3340.5176a","name":"parseInt","func":"msg.payload = parseInt(msg.payload);\n\n// only fan #3 is writtable. disconnect fan #1 & #2\nswitch ( parseInt(msg.pin) ) {\ncase 1 :\n    return [ msg, null, null];\ncase 2 :\n    return [ null, msg, null ];\ncase 3 :\n    return [ null, null, msg];\n}\nreturn [ null, null, null];","outputs":3,"noerr":0,"x":256.5000457763672,"y":609.0001602172852,"wires":[[],[],["a3712b70.b3d5a8","fde053d.54dd7b"]]},{"id":"1ff6ff42.4a9e11","type":"OpcUa-Client","z":"fffc3340.5176a","endpoint":"6af6fd05.262e64","action":"read","deadbandvalue":"","time":"3","timeUnit":"s","localfile":"","name":"Read OPC UA Server","x":845.7781791687012,"y":422.2327690124512,"wires":[["4ad2604a.9a65e"]]},{"id":"258a36c3.dc967a","type":"OpcUa-Item","z":"fffc3340.5176a","item":"ns=1;s=Fan1Status","datatype":"UInt16","value":"","name":"ns=1;s=Fan1Status","x":579.0000991821289,"y":421.0104694366455,"wires":[["1ff6ff42.4a9e11"]]},{"id":"684fe8d.c9be318","type":"inject","z":"fffc3340.5176a","name":"Pull Fan Status","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"20","x":134.62498474121094,"y":373.4029245376587,"wires":[["41cf88d0.798068","93d86bd4.764cd8","2e10994c.5222d6","9cda855f.423438"]]},{"id":"5582b0fa.61e45","type":"inject","z":"fffc3340.5176a","name":"Reconnect","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"7","x":128.12850952148438,"y":146.45502471923828,"wires":[["afbae5ed.63f498"]]},{"id":"afbae5ed.63f498","type":"function","z":"fffc3340.5176a","name":"Reconnect","func":"msg.topic=\"Reconnect\";\nmsg.action=\"reconnect\";\nmsg.OpcUaEndpoint = {\n    credentials: {},\n    endpoint: 'opc.tcp://localhost:53880/UA/TemperatureChamber1',\n    securityPolicy: 'None',\n    securityMode: 'NONE',\n    login: false,\n    user: undefined,\n    password: undefined \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":322.2398147583008,"y":147.65500259399414,"wires":[["1ff6ff42.4a9e11","825d96c3.a21478","d5e4e932.388518","e2c430cb.acc33","c2b7b69f.91e7a8"]]},{"id":"825d96c3.a21478","type":"OpcUa-Client","z":"fffc3340.5176a","endpoint":"9cd2dafd.7c5608","action":"read","deadbandvalue":"","time":"","localfile":"","name":"Read OPC UA Server","x":869.3507690429688,"y":552.1217613220215,"wires":[["7b6064.e443cf9c"]]},{"id":"cebe6cb7.c3d9d","type":"OpcUa-Item","z":"fffc3340.5176a","item":"ns=1;s=Fan2Status","datatype":"UInt16","value":"","name":"ns=1;s=Fan2Status","x":581.5726852416992,"y":551.8993301391602,"wires":[["825d96c3.a21478"]]},{"id":"d5e4e932.388518","type":"OpcUa-Client","z":"fffc3340.5176a","endpoint":"9cd2dafd.7c5608","action":"write","deadbandvalue":"","time":"","localfile":"","name":"Write OPC UA Server","x":885.7952690124512,"y":791.7884140014648,"wires":[[]]},{"id":"a3712b70.b3d5a8","type":"OpcUa-Item","z":"fffc3340.5176a","item":"ns=1;s=Fan3Status","datatype":"UInt16","value":"","name":"ns=1;s=Fan3Status","x":591.2396774291992,"y":790.010663986206,"wires":[["d5e4e932.388518"]]},{"id":"d40a1c6b.7c7aa","type":"OpcUa-Item","z":"fffc3340.5176a","item":"ns=1;s=Temperature","datatype":"UInt16","value":"","name":"ns=1;s=Temperature","x":441.1285095214844,"y":219.01050567626953,"wires":[["e2c430cb.acc33"]]},{"id":"e2c430cb.acc33","type":"OpcUa-Client","z":"fffc3340.5176a","endpoint":"9cd2dafd.7c5608","action":"read","deadbandvalue":"","time":"","localfile":"","name":"Read OPC UA Server","x":594.9066314697266,"y":310.2327365875244,"wires":[["7e1dcd51.b9b5a4"]]},{"id":"41cf88d0.798068","type":"delay","z":"fffc3340.5176a","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":321.5243606567383,"y":364.1007697582245,"wires":[["258a36c3.dc967a"]]},{"id":"93d86bd4.764cd8","type":"delay","z":"fffc3340.5176a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":318.23963165283203,"y":418.56602239608765,"wires":[["cebe6cb7.c3d9d"]]},{"id":"2e10994c.5222d6","type":"delay","z":"fffc3340.5176a","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":318.6840286254883,"y":314.01044273376465,"wires":[["d40a1c6b.7c7aa"]]},{"id":"2c6c408.1138ec","type":"ui_gauge","z":"fffc3340.5176a","name":"","group":"92ed7c97.61bad","order":2,"width":"6","height":"6","gtype":"gage","title":"","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"90","x":989.5000495910645,"y":234.3333396911621,"wires":[]},{"id":"aa3dcfff.01861","type":"comment","z":"fffc3340.5176a","name":"OPC UA Agent/Client","info":"","x":131,"y":101.00000190734863,"wires":[]},{"id":"e5f35f46.6af3b","type":"blynk-ws-style-btn","z":"fffc3340.5176a","name":"Fan #3","pin":"3","prop":"0","onlabel":"ON","offlabel":"OFF","oncolor":"#000000","onbackcolor":"#00f900","offcolor":"#000000","offbackcolor":"#ff2600","client":"aa207925.b725b8","x":79,"y":703,"wires":[["b58f5870.31c348"]]},{"id":"89ad9af0.7e0b18","type":"comment","z":"fffc3340.5176a","name":"Backup Fan Unit : #3","info":"","x":110.00000762939453,"y":663.3333282470703,"wires":[]},{"id":"d0bbff4c.8a48b","type":"blynk-ws-out-write","z":"fffc3340.5176a","name":"Fan #3","pin":"3","pinmode":0,"client":"aa207925.b725b8","x":994.0001907348633,"y":730.3333339691162,"wires":[]},{"id":"fde053d.54dd7b","type":"ui_switch","z":"fffc3340.5176a","name":"Fan #3","label":"Fan #3","group":"92ed7c97.61bad","order":4,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":552.9997711181641,"y":739.3333339691162,"wires":[["82c3babb.c99b38"]]},{"id":"82c3babb.c99b38","type":"function","z":"fffc3340.5176a","name":"fan3Status","func":"var currStatus = flow.get(\"fan3Status\") || 0;\nif ( currStatus == msg.payload ) return null;\n\nflow.set(\"fan3Status\", msg.payload);\n\nreturn msg ;","outputs":1,"noerr":0,"x":749.6666488647461,"y":736.9998378753662,"wires":[["d0bbff4c.8a48b"]]},{"id":"c2b7b69f.91e7a8","type":"OpcUa-Client","z":"fffc3340.5176a","endpoint":"9cd2dafd.7c5608","action":"read","deadbandvalue":"","time":"","localfile":"","name":"Read OPC UA Server","x":872.683780670166,"y":685.1214599609375,"wires":[["fde053d.54dd7b"]]},{"id":"8c88f19a.6d327","type":"OpcUa-Item","z":"fffc3340.5176a","item":"ns=1;s=Fan3Status","datatype":"UInt16","value":"","name":"ns=1;s=Fan3Status","x":583.9057006835938,"y":688.8990058898926,"wires":[["c2b7b69f.91e7a8"]]},{"id":"9cda855f.423438","type":"delay","z":"fffc3340.5176a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":318.00000762939453,"y":472.3333578109741,"wires":[["8c88f19a.6d327"]]},{"id":"7d6be983.c65868","type":"comment","z":"fffc3340.5176a","name":"Only Fan#3 is writtable","info":"","x":291.00001525878906,"y":562.333330154419,"wires":[]},{"id":"aa207925.b725b8","type":"blynk-ws-client","z":"","name":"","path":"ws://blynk-cloud.com/websockets","key":"d31f6c7be59f4eefac9f2ac5d33e4a59","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":true,"proxy_type":"no","proxy_url":"","enabled":true},{"id":"92ed7c97.61bad","type":"ui_group","z":"","name":"OPC UA Agent","tab":"d65502b1.ee517","order":1,"disp":true,"width":"12","collapse":false},{"id":"6af6fd05.262e64","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://192.168.201.74:53880/UA/TemperatureChamber1","secpol":"None","secmode":"NONE","login":false},{"id":"9cd2dafd.7c5608","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://127.0.0.1:53880/UA/TemperatureChamber1","secpol":"None","secmode":"NONE","login":false},{"id":"d65502b1.ee517","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1}]